.edu-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;

}

.edu-content {
  padding: 5px;
  margin: 30px;
  box-shadow: 10px 10px 5px lightgrey;
  height: 100px;
  width: 30%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  flex-basis: 33%;
  overflow: hidden;
  background-color: #903ac6;
}

.edu-heading {
  text-align: center;
  color: #903ac6;
}

.edu-content:hover {
  text-align: center;
  color: white;
}

h4,
p {

  color: white;

}





.edu-content:hover {
  padding: 5px;
  margin: 30px;
  box-shadow: 10px 10px 5px lightgrey;
  height: 100px;
  width: 30%;
  background-color: #903ac6;
  border: 1px solid #36104D;
  border-radius: 5px;
  flex-basis: 33%;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}